# Ignore all pickle files
*.pkl
*.pkkl

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
